*{padding: 0px; margin: 0px;}
body{
    background: linear-gradient(to right, white 60%, rgb(214, 189, 166) 40%);
}
/* nav lado izquierdo */

nav{
  display: flex;
 justify-content: space-between;
 margin: 0em 0em 0em 0em;

}
.ivy{
    margin: 0.5em 2em 0em 2em;
    font-size: 2.1rem;
    letter-spacing: -0.1em;

}
.casas{
    margin-top: 1.8em;
}

.home{
    text-decoration: none;
    color: black;
    margin: 1em 3em 0em 0em ;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* nav lado derecho */

 .uno{
    font-size: 0.5rem;
    padding: 0.001em 0.2em;
    border: 0.0163rem solid black;
    border-radius: 7rem;
    position: relative;
    right: 8.6em;
    bottom: -2em;

 }
.svg, .svg1{
    margin-top: 1.4em;
    width: 1.4rem;
}
.svg1 {
    margin-left: 25em;
    margin-right: -2.3em;
}

.miniraya{
border: none;
width: 0.063rem;
border-left: 0.125rem solid rgba(99, 83, 68, 0.3 );
height: 1.2rem ;
margin-top: 1.5em;
margin-left: -4.6em;
}

.sign{
    margin-top: 2.4em;
    font-size: 0.7rem;
    margin-left: -6em;
    font-family: Arial, Helvetica, sans-serif;
}

.botonup{
background-color: transparent;
font-size: 0.7rem;
border: 0.063rem solid black ;
padding: 0.25em 0.7em  ;
margin-top: 2.2em;
margin-right: 4em;
margin-left: -3.5em;
font-family: Arial, Helvetica, sans-serif;
}
/* termine el header */

/* main  */
.mainn{
    display: flex;
}

/* main izquierda */

.elegante{
    font-size: 4rem;
    margin-top: 10rem ;
    margin-left: 3rem;
    
}

.shop{
    font-weight:600;
    border: 0.12rem solid black;
    margin-top: 3.5rem ;
    margin-left: 3rem;
    background-color: transparent;
    padding: 0.8em 2em ;
}

.desc{
    
  font-size: 0.8rem;  
  color: rgb(95, 95, 95) ;
  margin-top:8em ;
  margin-left: 3em;
}

/* foto de la chica */

.mujer{
    width: 25rem;
    margin-left: 10em;
  }

/* linea escala */
.num{
    margin-left: 30em;
    margin-top: 15rem ;
    font-size: 0.5rem ;
}
.num1, .num2, .num3{
    margin-top: 5em;
}
.num1{
    color: black;
}
.escala{
    margin-left: 16rem;
    margin-top: -7.5rem ;
    border: none;
width: 2rem;
border-left: 0.2rem solid rgb(0, 0, 0);
height: 3rem ;

}

.escala2{
    margin-left: 16rem;
    border: none;
    width: 2rem;
    border-left: 0.2rem solid rgba(116, 93, 60, 0.534);
    height: 5.5rem ;
}

/* pseudo */

.home:hover{
    border-bottom: 0.1rem solid black;
    
}
 .svg1:hover{
    filter: opacity(70%);
 }
 .svg:hover{
    filter: opacity(70%);
 }
.sign:hover{
    margin-top: 2em;
    font-size: 0.8rem;
    margin-left: -5.4em;
}

.shop:hover{
    color: white;
    font-weight:600;
    border: 0.12rem solid black;
    margin-top: 3.5rem ;
    margin-left: 3rem;
    background-color: black;
    padding: 0.8em 2em ;
}